#include "boards/shields/6x8_trackball/6x8_trackball.dts"

&kscan0 {
     col-gpios
         = <&xiao_d 21 GPIO_ACTIVE_HIGH>
         , <&xiao_d 20 GPIO_ACTIVE_HIGH>
         , <&xiao_d 19 GPIO_ACTIVE_HIGH>
         , <&xiao_d 18 GPIO_ACTIVE_HIGH>
         , <&xiao_d 15 GPIO_ACTIVE_HIGH>
         , <&xiao_d 14 GPIO_ACTIVE_HIGH>
         , <&xiao_d 16 GPIO_ACTIVE_HIGH>
         , <&xiao_d 10 GPIO_ACTIVE_HIGH>
         ;
 };
