# No whitespace after the comma or in your part name!
config SHIELD_6X8_TRACKBALL_LEFT
    def_bool $(shields_list_contains,6x8_trackball_left)

# No whitespace after the comma or in your part name!
config SHIELD_6X8_TRACKBALL_RIGHT
    def_bool $(shields_list_contains,6x8_trackball_right)
