# No whitespace after the comma or in your part name!
config SHIELD_6X8-TRACKBALL_LEFT
    def_bool $(shields_list_contains,6X8-TRACKBALL_LEFT)

# No whitespace after the comma or in your part name!
config SHIELD_6X8-TRACKBALL_RIGHT
    def_bool $(shields_list_contains,6X8-TRACKBALL_RIGHT)
